:root{
  --filter-min-width:40px;
  --filter-max-width:200px;
  --header-height:70px;
  --questions-height:115px;
  --map-height:calc(100% - var(--header-height) - var(--questions-height));
  --map-min-height:500px;
}
html{
  height:100%
}
body{
  font-family:Helvetica;
  margin:0;
  overflow:auto;
  float:left;
  width:100%;
  height:100%;
}
#header{
  height:var(--header-height);
}
#header h2{
  letter-spacing:18px;
  font-size:18px;
  margin:20px 0;
}
#header #topmenu{
  display:flex;
  position:absolute;
  top:0;
  right:0;
  padding:8px 15px 0 0;
}
#header #topmenu a{
  margin-left:5px;
  text-decoration:none;
  color:inherit;
}
#header #topmenu h3{
  margin:0;
  font-size:17px;
  cursor:pointer;
}
#header #topmenu line{
  height:3px;
  width:0%;
  float:left;
  background-color:black;
  -webkit-transition:.25s width ease-out;
  transition:.25s width ease-out;
}
body .textContainer{
  width:100%;
  height:calc(100% - var(--header-height));
  display:inline-flex;
}
.textContainer .mainText{
  max-width:500px;
  width:90%;
  text-align:center;
  height:90%;
}
.textContainer #abutton{
  text-decoration:none;
  padding:12px 24%;
  background-color:#2FA500;
  color:#FFF;
  font-size:18px;
  border-radius:50px;
  box-shadow:0px 7px 5px rgba(68,68,68,0.6);
  -webkit-transition:.25s all ease-out;
  transition:.25s all ease-out;
}
.textContainer #abutton:hover{
  background-color:#258300;
  letter-spacing:5px;
}
#questions{
  float:left;
  background-color:#000;
  width:100%;
  color:#FFF;
  overflow:hidden;
  position:relative;
  height:var(--questions-height);
}
#questions #completedLine{
  position:absolute;
  top:0;
  left:0;
  height:10px;
  width:0%;
  background-color:#2fd3d8;
  -webkit-transition:.25s width ease-out;
  transition:.25s width ease-out;
}
#questions .leftarrow,#questions .rightarrow{
  background:rgba(66,66,66,0.54);
  -webkit-border-radius:28px;
  border-radius:28px;
  cursor:pointer;
  position:absolute;
  height:56px;
  width:56px;
  -webkit-transition:.15s all ease-out;
  transition:.15s all ease-out;
}
#questions .leftarrow:hover,#questions .rightarrow:hover{
  background:rgba(66,66,66,0.75);
}
#questions .leftarrow{
  left:18%;
}
#questions .rightarrow{
  right:18%;
}
#questions .arrowsvg{
  fill:white;
}
@media screen and (max-width:1300px){
  #questions .leftarrow{
    left:12%;
  }
  #questions .rightarrow{
    right:12%;
  }
}
@media screen and (max-width:1000px){
  #questions .leftarrow{
    left:6%;
  }
  #questions .rightarrow{
    right:6%;
  }
}
@media screen and (max-width:650px){
  #questions .leftarrow{
    left:0%;
  }
  #questions .rightarrow{
    right:0%;
  }
  #questions .leftarrow,#questions .rightarrow{
    border-radius:0px;
    height:100%;
  }
  :root{--header-height:100px;}
}
#questions path{
  fill:white;
  stroke:none;
}
#questions section.transit{
  transition:.5s all ease-out;
}
#questions section{
  display:inline-block;
  position:absolute;
  text-align:center;
  font-weight:666;
  letter-spacing:8px;
  left:50%;
}
#questions section .subsection{
  position:relative;
  left:-50%;
}
#questions section:not(:first-of-type){
  left:200%;
}
#questions select{
  margin-top:14px;
  color:#FFF;
  background:none;
  border-width:0 0 1px 0;
  font-size:15px;
  text-align-last:center;
  min-width:300px;
}
#questions option{
  background-color:#FFF;
  color:#000;
}

#container{
  width:100%;
  height:var(--map-height);
  float:left;
}
#container #filters{
  width:var(--filter-min-width);
  max-width:var(--filter-min-width);
  float:left;
  -webkit-transition:.3s width ease-out;
  transition:.3s width ease-out;
}
#container #auxfilter{
  float:left;
  width:var(--filter-min-width);
}
#container #filter_bar{
  width:0%;
  overflow:hidden;
  -webkit-transition:.3s width ease-out;
  transition:.3s width ease-out;
}
#container #filters #filter_bar .filter{
  position:relative;
  width:100%;
  height:40px;
  background-color:#ccc;
}
#container #filters #filter_bar .filter#house_price_filter{
  max-height:0px;
  -webkit-transition:.3s max-height ease-out;
  transition:.3s max-height ease-out;
}
#container #filters #filter_bar .filter .districtOrNeighbourhoodFilter{
  width:48%;
  float:left;
  height:75%;
  font-size:10px;
  color:#FFF;
  z-index:2;
  cursor:pointer;
}
#container #filters #filter_bar .filter .selector{
  position:absolute;
  left:2%;
  right:50%;
  z-index:1;
  background-color:#2196F3;
  width:48%;
  height:75%;
  border-radius:10px;
  cursor:pointer;
  -webkit-transition:.3s all ease-out;
  transition:.3s all ease-out;
}
#container #filter_bar ul{
  margin:0;
  padding:0;
}
#container #filter_bar li{
  font-size:13px;
  display:flex;
  align-items:center;
  justify-content:left;
  padding:7px 5px;
}
#container #filters #openclosecontainer{
  width:100%;
  overflow:auto;
  position:relative;
}
#container #filters h1#filterTitle{
  margin:0;
  position:absolute;
  overflow:hidden;
  margin-left:7px;
  font-size:18px;
  height:100%;
  max-width:0px;
  -webkit-transition:.25s max-width ease-out;
  transition:.25s max-width ease-out;
}
#container #filters #openclose{
  float:right;
  width:26px;
  cursor:pointer;
  margin:7px;
}
#filterExplanationTooltip{
  position:fixed;
  top:calc(var(--header-height) + var(--questions-height) + 3px);
  left:44px;
  z-index:1;
  width:130px;
  background-color:black;
  color:#FFF;
  padding:10px;
  opacity:0;
  -webkit-transition:.3s opacity ease-out;
  transition:.3s opacity ease-out;
}
#filterExplanationTooltip .leftarrow{
  border-width:8px;
  border-style:solid;
  width:0;
  height:0;
  border-color:transparent;
  border-right-color:black;
  display:inline-block;
  margin:0 0 2px 2px;
  position:absolute;
  top:9px;
  left:-18px;
}
#content{
  display:inline-flex;
  position:relative;
  width:calc(100% - 2*var(--filter-min-width));
  min-width:calc(100% - 2*var(--filter-min-width));
  height:100%;
  float:left;
  -webkit-transition:.3s width ease-out;
  transition:.3s width ease-out;
}

#map{ 
	width:100%;
  min-height:var(--map-min-height);
	height:100%;
	float:left;
  -webkit-transition:.3s all ease-out;
  transition:.3s all ease-out;
}
#charts_overview{
  position:static;
  height:100%;
}
#side_stats{
  position:absolute;
  overflow:hidden;
	width:50%;
  opacity:0;
  height:100%;
  box-sizing:border-box;
	border-top:none;
  -webkit-transition:.3s width ease-out;
  transition:.3s width ease-out;
}
#overviewChart{
  text-align:center;
  height:calc(100% - 60px);
}
#openclose-radar{
  position:relative;
  float:right;
  width:26px;
  top:0;
  right:0;
  margin:7px;
  cursor:pointer;
}
h2, h3{
	text-align:center;	
}
button#showstats{
  margin:15px 0;
  padding:5px 50px;
}





/* The switch - the box around the slider */
.switch{
  position:relative;
  display:inline-block;
  width:30px;
  width:28px;
  height:20px;
  height:17px;
  margin-right:10px;
}

/* Hide default HTML checkbox */
.switch input{display:none;}

/* The slider */
.slider{
  position:absolute;
  cursor:pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ccc;
  -webkit-transition:.4s;
  transition:.4s;
}

.slider:before{
  position:absolute;
  content:"";
  height:12px;
  height:10px;
  width:11px;
  width:10px;
  left:4px;
  bottom:4px;
  background-color:white;
  -webkit-transition:.4s;
  transition:.4s;
}

input:checked + .slider{
  background-color:#2196F3;
}

input:focus + .slider{
  box-shadow:0 0 1px #2196F3;
}

input:checked + .slider:before{
  -webkit-transform:translateX(11px);
  -ms-transform:translateX(11px);
  transform:translateX(11px);
}

/* Rounded sliders */
.slider.round{
  border-radius:20px;
}

.slider.round:before{
  border-radius:50%;
}
/* tell the SVG path to be a thin blue line without any area fill */
path{
	stroke:steelblue;
	stroke-width:1;
	fill:none;
}
.axis{
  shape-rendering:crispEdges;
}
.x.axis line{
  stroke:lightgrey;
}
.x.axis .minor{
  stroke-opacity:.5;
}
.x.axis path{
  display:none;
}
.y.axis line, .y.axis path{
  fill:none;
  stroke:#000;
}
.flexcentered{
  display:flex;
  align-items:center;
  justify-content:center;
}
.rotate-right{
  -webkit-transform:rotate(180deg);
  -webkit-transition:-webkit-transform .3s;
}
.rotate-left{
  -webkit-transform:rotate(-180deg);
  -webkit-transition:-webkit-transform .3s;
}
.defaultdiv{
  width:100%;
  float:left;
}

.marker, .marker svg{
  position:absolute;
}

.scatter, .scatterpoints{
	z-index:400;
}

.marker svg, .marker{
  width:20px;
  height:20px;
  /*padding-right:100px;*/
  font:10px sans-serif;
  /*z-index:40;*/
  z-index:400;
}

.marker circle{
	stroke:black;
  stroke-width:1.5px;
	/*z-index:40*/
  z-index:500;
	position:absolute;	
}

.marker circle:hover{
  stroke:blue;
  stroke-width:3px;
  cursor:pointer;
  pointer-events:all;
}

#tooltipContainer{
  position:absolute;
  top:0px;
  right:0px;
  width:155px;
  height:33px;
  padding:10px;
  font-size:11px;
  border:3px solid;
  background-color:#FFF;
  opacity:0;
  -webkit-transition:.1s opacity ease-out;
  transition:.1s opacity ease-out;
}
#legendContainer{
  position:absolute;
  left:0px;
  bottom:0px;
  -moz-box-shadow:5px -5px 5px rgba(68,68,68,0.6);
  -webkit-box-shadow:5px -5px 5px rgba(68,68,68,0.6);
  box-shadow:5px -5px 5px rgba(68,68,68,0.6);
}
.legend{
  background-color:#F0F8FF;
  font-size:10px;
}
.legend .axis text{
  font:10px sans-serif;
}
.legend .axis line, .legend .axis path{
  fill:none;
  stroke:#000;
  shape-rendering:crispEdges;
}
.legend svg{
  padding-left:5px;
  padding-right:5px;
}

#choroplethLegend {
  bottom:0px;
}

/*.targetCircles circle {
  fill:red;
  stroke:black;
  stroke-width:1px;
  -webkit-animation-name:redPulse;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;}*/ 

.targetCircles circle{
  fill:red;
  stroke:black;
  stroke-width:1px;
  -webkit-animation-name:redPulse;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite; 
}
        
.targetCircles circle:hover{
  fill:blue;
  cursor:pointer; 
}

.scatterHeadingText{
  width:100%;
  text-align:center;
  float:left;
}
.scatterTooltipTable{
  width:100%;
}

/*.tooltip{ /* Only seems to work when applied through javascript *//*
  background-color:"black"
  border-bottom:"1px dotted black";
  width:"200px";
  color:"#fff";
  padding:"5px 0";
  border-radius:"6px";
  position:"absolute";
  z-index:"1000";
}*/
.infoBubble{
  text-align:center
}

.icon-hamburger-wrap{
  width:23px;
  height:17px;
  margin:12px 8px;
  cursor:pointer;
}
#openclosecontainer .icon-hamburger-wrap{
  float:right;
}
#side_stats .icon-hamburger-wrap.open .icon-bar:nth-child(1){
  -webkit-transform:translate3d(0, 6px, 0) rotate(45deg);
  -moz-transform:translate3d(0, 6px, 0) rotate(45deg);
  -o-transform:translate3d(0, 6px, 0) rotate(45deg);
  -ms-transform:translate3d(0, 6px, 0) rotate(45deg);
  transform:translate3d(0, 6px, 0) rotate(45deg);
}
.icon-hamburger-wrap .icon-bar{
  opacity:1;
  -webkit-transition:-webkit-transform 0.1s ease-in;
  -o-transition:-o-transform 0.1s ease;
  -ms-transition:-ms-transform 0.1s ease;
  -moz-transition:-moz-transform 0.1s ease;
  transition:transform 0.1s ease-in;
  -webkit-transform-origin:50% 50%;
  -o-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  -moz-transform-origin:50% 50%;
  transform-origin:50% 50%;
  background:#444;
  display:block;
  height:3px;
  margin:0;
}
.icon-hamburger-wrap .icon-bar:nth-child(2) {
  margin:4px 0;
}
.icon-hamburger-wrap.open .icon-bar:nth-child(1){
  -webkit-transform:translate3d(0, 8px, 0) rotate(45deg);
  -moz-transform:translate3d(0, 8px, 0) rotate(45deg);
  -o-transform:translate3d(0, 8px, 0) rotate(45deg);
  -ms-transform:translate3d(0, 8px, 0) rotate(45deg);
  transform:translate3d(0, 8px, 0) rotate(45deg);
}
.icon-hamburger-wrap.open .icon-bar:nth-child(2){
  opacity:0
}
.icon-hamburger-wrap.open .icon-bar:nth-child(3) {
  -webkit-transform:translate3d(0, -8px, 0) rotate(-45deg);
  -moz-transform:translate3d(0, -8px, 0) rotate(-45deg);
  -o-transform:translate3d(0, -8px, 0) rotate(-45deg);
  -ms-transform:translate3d(0, -8px, 0) rotate(-45deg);
  transform:translate3d(0, -8px, 0) rotate(-45deg);
}

.hiddenCircle{
  position:fixed;
  background-color:#AAA;
  border-radius:100px;
  width:0px;
  height:0px;
  -webkit-transition:5s all ease-out;
  transition:5s all ease-out;
}